extends layout
block vars
 - var title = "Dashboard"

block content
  h1 Welcome to your dashboard
  p
   |First Name: #{user.firstName}
   br
   |Last Name: #{user.lastName}
   br
   |Email: #{user.email}
  hr
  a(href="/logout") logout